/* Star Selector (Selects every element in the HTML file */
* {
    /* Includes the padding and border when setting a width or eight for an element! */
    box-sizing: border-box;
}

body {
    background: rgb(56, 54, 54);
    color: #eef1ef;
    font-family: 'Open Sans', sans-serif;
    /* Flexbox used to center the div; both vertically, and horizontally! */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Setting the height to 100vh so the div will be centered vertically in the browswer window (AKA Viewport) */
    height: 100vh;
    /* So the div container is not up against the edge of the viewport on smaller screen sizes */
    padding: 25px;
}

h2 {
    /* Top Right/Left Bottom */
    margin: 10 px 0 20px;
    text-align: center;
}

.container {
    background: rgb(107, 12, 12);
    padding: 15px;
    width: 350px;
    border-radius: 15px;
}

.result-container {
    background: black;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    /* Flexbox used to position the span (NOTE: Default value for justify-content is flex-start) */
    display: flex;
    align-items: center;
    /* To position the clipboard button! */
    position: relative;
}

.btn {
    background:rgb(61, 85, 207);
    /* Removes the default border */
    border: none;
    color: #eef1ef;
    /* Changes the curser when hovering over a button */
    cursor: pointer;
    padding: 8px 12px;
}

.setting {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#clipboard {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}

#generate {
    font-size: 16px;
    width: 100%;
}

/* Changes the font-size of generated password for smaller screens! */
@media (max-width: 400px){
    .result-container {
        font-size: 14px;
    }
}

